@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid green; */
}

/* Hide scrollbar in all browsers */
body {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Hide scrollbar in Firefox */
  scrollbar-width: none;

  /* Hide scrollbar in Internet Explorer and Edge */
  -ms-overflow-style: none;

  /* Completely disable scrolling */
  overflow: hidden;
}

/* Hide scrollbar in WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  display: none;
}