@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid green; */
}

/* Global Style */
body {
  font-family: "Inter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Old Firefox */
  overflow: -moz-scrollbars-none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
}

/* Hide Scroll Bar for Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 0px !important;
}